.username {
  color: darkgray;
  font-size: small;
 }


 .card-header {
  padding: 0.2em, 0.5em;
 }

 .card {
   border: 1 solid white;
 }

 .title {
   height: 4em;
   font-size: 1em;
   vertical-align: middle;
 }

 .comments-badge {
   font-size: 1em;
 }

 .posted-by {
   color: darkgray;
 }
